<mat-toolbar color="primary">
  <!-- Landscape Mode -->
  <div *ngIf="isLandscape" class="landscape-container">
    <!-- Left Side -->
    <div class="navbar-section">
      <button mat-button routerLink="/"><mat-icon>home</mat-icon> Home</button>
      <button mat-button routerLink="/items">
        <mat-icon>list</mat-icon> Items
      </button>
      <div *ngIf="username">
        <button mat-button routerLink="/create-item">
          <mat-icon>add</mat-icon> Sell an Item
        </button>
      </div>
    </div>

    <!-- Right Side -->
    <div class="navbar-section">
      <div *ngIf="username">
        <span class="balance">{{ formatPrice(balance) }}</span>
        <button mat-button routerLink="/account">
          <mat-icon>account_circle</mat-icon> {{ username }}
        </button>
      </div>
      <div *ngIf="!username">
        <button mat-button routerLink="/login">Login</button>
      </div>
    </div>
  </div>

  <!-- Portrait Mode -->
  <div *ngIf="!isLandscape" class="portrait-container">
    <!-- Left Side -->
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon> Home
      </button>
      <button mat-menu-item routerLink="/items">
        <mat-icon>list</mat-icon> Items
      </button>
      <div *ngIf="username">
        <button mat-menu-item routerLink="/create-item">
          <mat-icon>add</mat-icon> Sell an Item
        </button>
      </div>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Right Side -->
    <div class="navbar-section">
      <div *ngIf="username">
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>account_balance_wallet</mat-icon>
            {{ formatPrice(balance) }}
          </button>
          <button mat-menu-item routerLink="/account">
            <mat-icon>account_circle</mat-icon> {{ username }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      <div *ngIf="!username">
        <button mat-icon-button routerLink="/login">
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
