.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  margin-bottom: 20px;
}

.navbar .navbar-left {
  display: flex;
  justify-content: left;
}

.navbar .navbar-right {
  display: flex;
  justify-content: right;
}

button {
  padding: 10px 20px;
  background-color: #c0d7c1;
  color: #333;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Adjust this value to your liking */
}

button:hover {
  background-color: #869a87;
}
