<nav class="navbar">
  <div class="navbar-left">
    <button routerLink="/">Home</button>
    <button routerLink="/items">Items</button>
    <div *ngIf="username">
      <button routerLink="/create-item">Sell an Item</button>
    </div>
  </div>
  <div class="navbar-right">
    <button class="balance" *ngIf="username" routerLink="/wheel">{{ formatPrice(balance) }}</button>
    <div *ngIf="username">
      <button routerLink="/account">{{ username }}</button>
    </div>
    <div *ngIf="!username">
      <button routerLink="/login">Login</button>
    </div>
  </div>
</nav>
