.landscape-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-section {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 15px;
  line-height: 1.5;
  margin: 0 10px;
}

mat-icon {
  font-size: 24px;
  vertical-align: top;
}

.portrait-container button mat-icon {
  font-size: 24px;
}

.portrait-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.balance {
  margin-right: 10px;
}