# .NET Core
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
orleans.codegen.cs
**/obj/
project.lock.json
project.fragment.lock.json
artifacts/
*.cache
*.swp
*.swo
*.sw?
Backend/appsettings.Development.json

# Backend bin folder
*bin
*bin/*

# Rider & JetBrains
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# VS Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Tye
.tye/

# Visual Studio for Mac
.vscode/

# Angular
dist/
node_modules/
