<app-header></app-header>

<form (ngSubmit)="onSubmit()" #itemForm="ngForm" class="create-item-form">
  <mat-form-field class="form-group">
    <mat-label>Item Name</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="itemName" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Price</mat-label>
    <input matInput type="number" name="price" [(ngModel)]="itemPrice" />
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      name="description"
      [(ngModel)]="itemDescription"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Image Link</mat-label>
    <input matInput type="text" name="imageLink" [(ngModel)]="itemImageLink" />
  </mat-form-field>

  <!-- Image Preview -->
  <div *ngIf="itemImageLink" class="image-preview">
    <img
      [src]="itemImageLink"
      (error)="onImageError($event)"
      (load)="onImageLoad($event)"
      alt="Image preview"
      class="item-image"
    />
  </div>

  <button mat-raised-button color="primary" type="submit" *ngIf="!itemId">
    Create Item
  </button>
  <button mat-raised-button color="accent" type="submit" *ngIf="itemId">
    Save changes
  </button>
</form>
