.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.item-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  display: flex;
  gap: 10px;
  transition: all 0.5s ease;
  z-index: 1;
  position: relative;
  cursor: pointer; /* Indicate that the card is clickable */
}

.item-card:hover {
  background-color: rgba(235, 235, 235);
}

.item-image-container {
  flex: 0 0 100px;
  height: 100px;
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Modal-like structure for the detailed view */
.item-modal {
  display: flex;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-50px);
  width: 600px;
  padding: 20px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.item-modal.selected {
  transform: translate(-50%, -50%);
}

.item-image-container {
  flex: 0 0 150px;
  height: 150px;
  overflow: hidden;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Backdrop to darken the background when modal is open */
.items-container::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.items-container[selected-item]::after {
  opacity: 1;
  pointer-events: all;
}

/* Common styles for both Edit and Delete buttons */
.edit,
.delete,
.buy {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: white;
}

.edit {
  background-color: #ffa500;
}

.edit:hover {
  background-color: #ff8c00;
}

.delete {
  background-color: #ff4d4d;
}

.delete:hover {
  background-color: #ff1a1a;
}

.buy {
  background-color: #4caf50;
}

.buy:hover {
  background-color: #3fa06b;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;
}
