<app-header></app-header>

<div class="items-container">
  <div *ngFor="let item of items" class="item-card" (click)="expandItem(item)">
    <div class="item-image-container" *ngIf="!item.isSold">
      <img
        [src]="item?.imageLink"
        (error)="onImageError($event)"
        alt="{{ item.name }}"
        class="item-image"
      />
    </div>
    <div class="item-info">
      <h3>{{ item.name }}</h3>
      <p>Price: {{ formatPrice(item.price) }}</p>
    </div>
  </div>

  <!-- Detailed View (Modal-like structure) -->
  <div
    [ngClass]="selectedItem ? 'selected' : 'unselected'"
    class="item-modal"
    *ngIf="selectedItem"
    [@fadeInOut]
  >
    <button class="close" (click)="closeItemDetail()">X</button>
    <div class="item-image-container">
      <img
        [src]="selectedItem.imageLink"
        (error)="onImageError($event)"
        alt="{{ selectedItem.name }}"
        class="item-image"
      />
    </div>
    <div class="item-info">
      <h3>{{ selectedItem.name }}</h3>
      <p>Price: {{ formatPrice(selectedItem.price) }}</p>
      <p>{{ selectedItem.description }}</p>
      <p class="user-name">Added by: {{ userName }}</p>
      <div>
        <button class="buy" *ngIf="!isUserTheOwner()" (click)="buyItem()">
          Buy
        </button>
        <button class="edit" *ngIf="isUserTheOwner()" (click)="editItem()">
          Edit
        </button>
        <button
          class="delete"
          *ngIf="isUserTheOwner() && !deleteConfirm"
          (click)="deleteToggle()"
        >
          Delete
        </button>
        <button
          class="delete"
          *ngIf="isUserTheOwner() && deleteConfirm"
          (click)="deleteItem()"
        >
          Confirm
        </button>
        <button
          class="buy"
          *ngIf="isUserTheOwner() && deleteConfirm"
          (click)="deleteCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
