<app-header></app-header>

<div class="items-container">
  <div *ngFor="let item of items" class="item-card" (click)="expandItem(item)">
    <div class="item-image-container">
      <img
        [src]="item?.imageLink || 'path/to/default/image.jpg'"
        alt="{{ item.name }}"
        class="item-image"
      />
    </div>
    <div class="item-info">
      <h3>{{ item.name }}</h3>
      <p>Price: {{ item.price }}</p>
    </div>
  </div>

  <!-- Detailed View (Modal-like structure) -->
  <div [ngClass]="selectedItem ? 'selected':'unselected'" class="item-modal" *ngIf="selectedItem" [@fadeInOut]>
    <button class="close-btn" (click)="closeItemDetail()">X</button>
    <div class="item-image-container">
      <img
        [src]="selectedItem?.imageLink || 'path/to/default/image.jpg'"
        alt="{{ selectedItem.name }}"
        class="item-image"
      />
    </div>
    <div class="item-info">
      <h3>{{ selectedItem.name }}</h3>
      <p>Price: {{ selectedItem.price }}</p>
      <p>{{ selectedItem.description }}</p>
      <button class="buy-btn">Buy</button>
    </div>
</div>
</div>
