.login-form {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
