<app-header></app-header>

<div class="container mat-typography">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to FenyoBay!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        FenyoBay is a simple eBay clone where users can sign in to sell and buy
        items. Explore a wide range of items available for sale, or list your own
        items to reach potential buyers.
      </p>
      <p>
        First, you should register to the application, or log in if you're already a user! Then, you can look at each item, and buy them if 
        you have enough money. You don't? Don't worry! You can always get more by magical means! You should just click on the button that displays your balance.
        Gamble responsibly!
      </p>
      <p>
        You can put an item up for sale as well, just click the "Sell an Item" button! Give it a name, a description and name a price.
        Then, you should search for an image, and put the link in.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Features</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let feature of features">{{ feature }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Technical Specifications</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The application's backend is a JSON-based Web API, and the frontend is
        developed using Angular, with Angular Material. Authentication is secured using JWT tokens, and
        data is stored in a relational database.
      </p>
      <p>This is a demo project made by Levente Fenyvesi, with love.</p>
    </mat-card-content>
  </mat-card>
</div>
