<app-header></app-header>

<div class="container">
  <h1>Welcome to GreenBay!</h1>
  <p>
    GreenBay is a simple eBay clone where users can sign in to sell and buy
    items. Explore a wide range of items available for sale, or list your own
    items to reach potential buyers.
  </p>

  <h2>Features</h2>
  <ul>
    <li>Register to the application</li>
    <li>Sign in to the application</li>
    <li>Modify user data</li>
    <li>Delete user account</li>
    <li>Logout of the application</li>
    <li>Create a sellable item</li>
    <li>List existing sellable items</li>
    <li>View a specific sellable item's details</li>
    <li>Buy a sellable item</li>
    <li>Edit a user's item</li>
  </ul>

  <h3>Technical Specifications</h3>
  <p>
    The application's backend is a JSON-based Web API, and the frontend is
    developed using Angular. Authentication is secured using JWT tokens, and
    data is stored in a relational database.
  </p>

  <p>This is a demo project made by Levente Fenyvesi, with love.</p>
</div>
