.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.wheel-card {
  width: 60vmin;
  max-width: 1000px;
  padding-bottom: 60vmin; 
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.wheel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
  pointer-events: none;
}

@media (max-aspect-ratio: 1/1) {
  .container {
    flex-direction: column;
  }

  .wheel-card {
    width: 60vw;
    padding-bottom: 60vw;
    margin-right: 0;
  }
}

.outer-wheel,
.inner-wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 250px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inner-wheel-spinning {
  animation: spin 8s cubic-bezier(0.23, 1, 0.32, 1);
}

.controls button {
  margin-bottom: 15px; 
}

.controls button:last-child {
  margin-bottom: 0;
}
