<div class="container">
  <!-- Wheel Card -->
  <mat-card class="wheel-card">
    <div class="wheel-container">
      <img
        src="../../../assets/wheel-inner.png"
        alt="Inner Wheel"
        class="inner-wheel"
      />
      <img
        src="../../../assets/wheel-outer.png"
        alt="Outer Wheel"
        class="outer-wheel"
      />
    </div>
  </mat-card>

  <!-- Controls Card -->
  <mat-card class="controls">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Wager Amount</mat-label>
        <input matInput type="number" [(ngModel)]="wagerAmount" min="0" />
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="isSpinning" (click)="onSpinWheelClick()">Spin Wheel</button>
      <button mat-raised-button color="accent" [disabled]="isSpinning" (click)="onRegainMoneyClick()">Gimme money!</button>
    </mat-card-content>
  </mat-card>
</div>
